.error {
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 15px;
    color: #a94442;
    background-color: #BF7877;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    top: 0;
    right: 0;
    animation-name: disapear;
    animation-delay: 5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes disapear {
    from { opacity: 1; }
    to { opacity: 0; }
  }