canvas {
    width: 1200px!important;
    height: 900px!important;
    color: #413b3b;
}
  




@media screen and (max-width: 1600px) {
    canvas {
        width: 800px!important;
        height: 600px!important;
    }
}

@media screen and (max-width: 1000px) {
    canvas {
        width: 600px!important;
        height: 450px!important;
    }
}


@media screen and (max-width: 600px) {
    canvas {
        width: 100%!important;
        /* height: 500px!important; */
    }
}