html {
	background-color: black;
}

body {
	font-family: "Futura PT", "Futura", "Helvetica", "Sans serif";
	color: #2c2c34;
	background-color: #F4F5F7;
	font-size: 14px;
	height: 100%;
	padding-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
}

h4 {
	margin-top: 11px;
	margin-bottom: 11px;
}

.project-header {
	line-height: 1.1;
	text-align: center;
	margin-bottom: 25px;
}

.project-main {
	display: flex;
}

.project-main .project-summary {
	flex: 0 0 200px;
	margin-right: 40px;
}

.project-success {
	background-color: #5cb85c;
}

.project-status-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 18px;
	border-radius: 2px;
	height: 170px;
}

.project-status-box span {
	font-size: 48px;
}

.project-status-box span span {
	font-size: 12px;
}

.project-description {
	font-size: 10px;
}

.project-desc-item {
	border-top: solid 1px #eee;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-sm-6 {
	width: 50%;
	float: left;
	position: relative;
	min-height: 1px;
}

.skill-list {
	border-left: solid 5px #eee;
	padding-left: 10px;
}

.project-summary-item {
	font-size: 12px;
	border-bottom: solid 1px #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}

.attachment-name {
	margin: 0;
}

a {
	color: #00babc;
	text-decoration: none;
}

.corrected-item-text {
	flex-grow: 1;
	width: 90%;
}

.corrected-header {
	color: #67676d;
	text-transform: uppercase;
	font-size: .8em;
}

.text-success {
	color: #5cb85c;
}

.correction-comment-item {
	padding: 10px;
	background-color: #f7f7f7;
	border-radius: 3px;
	margin: 5px 0;
	word-break: break-all;
}

.pull-right {
	float: right;
}

.list-group-item {
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 80px;
	border: 1px solid #ddd;
}  